<p>edit-movie works!</p>
<div>
    <h2 align="center" class="upper">Add Movie</h2>
    </div>
    <div class="form-group">
    <div class="widget-1-body">
    </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
            Movie Name: <input type="text" [(ngModel)]="movieName"/><br> 
            Duration: <input type="text" [(ngModel)]="duration" /><br>
            Release Date: <input type="date" [(ngModel)]="releaseDate"/>
                <br>
                Rating: <input type="text" [(ngModel)]="rating"/>
                <br>
                Watch Trailer: <input type="text" [(ngModel)]="watchTrailer"/>
                <br>
                Movie Details: <input type="text" [(ngModel)]="movieDetails"/>
                <br><br>
                <button (click)="updateMovie()">Update Movie</button>
        </div>
    </div>
    <br>     

           
                
                
                
                
                
            
                
    
                
             
              
              
              
           
            
    