<div>
    <h2 align="center" class="upper">Edit Theater</h2>
    </div>
    <div class="form-group">
    <div class="widget-1-body">
    </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
            Theater Name: <input type="text" [(ngModel)]="theaterName"/><br> 
            Morning ShowTime: <input type="text" [(ngModel)]="morningShowTime" /><br>
            Noon ShowTime: <input type="text" [(ngModel)]="noonShowTime"/><br>
            Night ShowTime: <input type="text" [(ngModel)]="nightShowTime"/><br>
            Address:<input type="text" [(ngModel)]="address"/><br><br>
            <button (click)="updateTheater()">Update Theater</button>
        </div>
    </div>
    <br>     
                
               

           
                
                
                
                
                
            
                
    
                
             
              
              
              
           
            
    